<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    }

    body {
      width: 100%;
      height: 100%;
      background: #f7f7f7;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
    }

    .body-wrap {
      width: 600px;
      height: 100%;
      text-align: center;
      margin: 0 auto;
      background: #f7f7f7;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
    }

    .email_footer {
      background-color: #e5e7e7;
    }

    .email_content {
      margin-right: 22px;
      margin-left: 22px;
    }

    .email_info h2 {
      font-size: 20px;
    }

    .button {
      display: inline-block;
      color: white;
      background: #3498db;
      padding: 10px 20px 8px;
      font-weight: bold;
      border-radius: 4px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 20px;

    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
      font-weight: normal;
    }

    p,
    ul,
    ol {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 20px;
    }

    .container {
      display: block !important;
      clear: both !important;
      margin: 0 auto !important;
      max-width: 100% !important;
    }

    .container table {
      width: 100% !important;
      border-collapse: collapse;
    }

    .container .email_title {
      padding: 80px 0;
      background: #3498db;
      color: white;
    }

    .container .email_title h1 {
      margin: 0 auto !important;
      max-width: 90%;
    }

    .container .content {
      background: white;
      padding: 30px 35px;
    }

    .container .content.email_footer {
      background: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    .container .content.email_footer p {
      margin-bottom: 0;
      color: #888;
      text-align: center;
      font-size: 14px;
    }

    .container .content.email_footer a {
      color: #888;
      text-decoration: none;
      font-weight: bold;
    }


    .mf_em_footer_power_by {
      font-size: 12px !important;
      font-weight: 600;
    }

    .mf_em_footer_address p {
      font-size: 11px !important;
    }

    .mf_em_footer_unsub {
      margin-top: 5px !important;
      margin-bottom: 10px !important;
      font-size: 15px !important;
    }


  </style>
</head>


<body>
<!-- START MESSAGE VIEW -->
<!-- ~~~~~~~~~~~~~~~~~~ -->
<div class="row email_content">


  <table class="body-wrap">
    <tr>
      <td class="container">
        <table>
          <tr>
            <td align="center" style="background: <%= @template.color %>;" class="email_title">
              <h1><%= @template.email_title %></h1>
            </td>
          </tr>
          <tr>
            <td class="content" style="text-align: left;">


              <% if @template.greet_use_default === 1 %>
                  <h2>Hi [Name],</h2>
              <% elsif @template.greet_before_cust_name == 1 %>
                  <% if @template.greet_content %>
                      <h2>[Name]<%= @template.greet_content %></h2>
                  <% else %>
                      <h2>[Name]</h2>
                  <% end %>
              <% elsif @template.greet_after_cust_name == 1 %>
                  <% if @template.greet_content %>
                      <h2><%= @template.greet_content %> [Name]</h2>
                  <% else %>
                      <h2>[Name],</h2>
                  <% end %>
              <% end %>


              <p> <%= @template.email_content %></p>

              <table>
                <tr>
                  <td align="center">
                    <% if @template.has_button %>
                        <p>
                          <a href="<%= @template.button_url %>" style="background: <%= @template.color %>;" class="button"> <%= @template.button_text %> </a>
                        </p>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td class="container email_footer">
        <!--Need to include unsubscribe link-->
        <table>
          <tr>
            <td class="content email_footer" align="center">
              <p class="mf_em_footer_unsub"><a href="#">Unsubscribe</a></p>

              <div class="mf_em_footer_address">
                <% if @app.foot_use_bill_add === 0 %>
                    <p><%= @app.foot_street %></p>
                    <p><%= @app.foot_city %>, <%= @app.foot_state %> <%= @app.foot_zip %></p>
                <% else %>
                    <p><%= @app.user.street_address %></p>
                    <p><%= @app.user.city %>, <%= @app.user.state %> <%= @app.user.zip %></p>
                <% end %>
              </div>


              <% if @app.show_mf_powered === 1 %>
                  <p class="mf_em_footer_power_by">Powered by MailFunnels</p>
              <% end %>


            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
</div>
<!-- ~~~~~~~~~~~~~~~~ -->
<!-- END MESSAGE VIEW -->
</body>

</html>
