

<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.65;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  body,
  .body-wrap {
    width: 100% !important;
    height: 100%;
    background: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
  }

  .email_footer {
    background-color: #e5e7e7;
  }

  .email_content {
    margin-right: 22px;
    margin-left: 22px;
  }

  .email_info h2 {
    font-size: 20px;
  }

  .button {
    display: inline-block;
    color: white;
    background: #3498db;
    padding: 10px 20px 8px;
    font-weight: bold;
    border-radius: 4px;
  }

  .email_template h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
    line-height: 1.25;
  }

  .email_template h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  p,
  ul,
  ol {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .container {
    display: block !important;
    clear: both !important;
    margin: 0 auto !important;
    max-width: 100% !important;
  }

  .container table {
    width: 100% !important;
    border-collapse: collapse;
  }

  .container .email_title {
    padding: 80px 0;
    background: #3498db;
    color: white;
  }

  .container .email_title h1 {
    margin: 0 auto !important;
    max-width: 90%;
  }

  .container .content {
    background: white;
    padding: 30px 35px;
  }

  .container .content.email_footer {
    background: none;
    padding: 0;
  }

  .container .content.email_footer p {
    margin-bottom: 0;
    color: #888;
    text-align: center;
    font-size: 14px;
  }

  .container .content.email_footer a {
    color: #888;
    text-decoration: none;
    font-weight: bold;
  }

  .mf_em_footer_power_by {
    font-size: 12px !important;
    font-weight: 600;
  }

  .mf_em_footer_unsub {
    font-size: 12px;
  }

</style>


<!-- START EMAIL PREVIEW -->
<!-- ~~~~~~~~~~~~~~~~~~~ -->
<div class="col-xs-12">
  <div class="email_content">

    <table class="body-wrap">
      <tr>
        <td class="container">

          <table>
            <tr>
              <td id="email_header" align="center" class="email_title">

                <h1 id="printEmailTitle" class="email_template"></h1>

              </td>
            </tr>
            <tr>
              <td class="content">

                <h2 id="preview_email_greet">Hi Customer,</h2>

                <p id="printEmailContent"></p>

                <table>
                  <tr>
                    <td align="center">
                      <div id="preview_buttons_div">
                        <p>
                          <a href="#" class="button " id="printButtonText"></a>
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td class="container email_footer">

          <!--Need to include unsubscribe link-->
          <table>
            <tr>
              <td class="content email_footer" align="center">
                <br/>

                <div class="mf_em_footer_address">
                  <% if @app.foot_use_bill_add === 0 %>
                      <p><%= @app.foot_street %></p>
                      <p><%= @app.foot_city %>, <%= @app.foot_state %> <%= @app.foot_zip %></p>
                  <% else %>
                      <p><%= @app.user.street_address %></p>
                      <p><%= @app.user.city %>, <%= @app.user.state %> <%= @app.user.zip %></p>
                  <% end %>
                </div>


                <% if @app.show_mf_powered === 1 %>
                    <p class="mf_em_footer_power_by">Powered by MailFunnels</p>
                <% end %>

                <p class="mf_em_footer_unsub"><a href= "#">Unsubscribe</a></p>

              </td>
            </tr>
          </table>

        </td>
      </tr>
    </table>

  </div>
</div>
<!-- ~~~~~~~~~~~~~~~~~ -->
<!-- END EMAIL PREVIEW -->