<% content_for :admin do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>


    <%= javascript_include_tag 'dashboard_manifest' %>
    <%= stylesheet_link_tag 'dashboard.css' %>
    <%= javascript_include_tag 'pages/admin_panel/admin_dashboard.js' %>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <img class="mf_head_logo" src="/mf_logos/mf_logo_text.png"/>
            <h3><small class="mf_head_title">Admin Panel: Dashboard</small></h3>
          </div>

        </div>
      </div>
    </div>

    <hr class="fade-2"/>


    <div class="row">
      <div class="col-xs-12">
        <div class="">
          <div class="x_content">



            <div class="row">
              <div class="col-xs-12">
                <div class="title_left">
                  <h3><small class="mf_head_title">Users and Apps</small></h3>
                </div>

                <a href="<%= root_url %>all_subscribers">
                  <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-user-circle-o text-primary"></i>
                      </div>
                      <div class="count" id="mf_num_users">0</div>

                      <h3>Users</h3>
                    </div>
                  </div>
                </a>

                <a href="<%= root_url %>funnels">
                  <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-download text-primary"></i>
                      </div>
                      <div class="count" id="mf_num_apps">0</div>

                      <h3>Installed Apps</h3>
                    </div>
                  </div>
                </a>

                <a href="<%= root_url %>lists">
                  <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-check-circle-o text-primary"></i>
                      </div>
                      <div class="count" id="mf_num_active_apps">0</div>

                      <h3>Active Apps</h3>
                    </div>
                  </div>
                </a>

                <a href="<%= root_url %>email_templates">
                  <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                      <div class="icon"><i class="fa fa-ban text-primary"></i>
                      </div>
                      <div class="count" id="mf_num_disabled_apps">0</div>

                      <h3>Disabled Apps</h3>
                    </div>
                  </div>
                </a>

              </div>

            </div>


            <div class="row">
              <div class="col-xs-12">
                <div class="title_left">
                  <h3><small class="mf_head_title">Subscribers</small></h3>
                </div>

                <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-user-plus text-primary"></i>
                    </div>
                    <div class="count" id="mf_num_subs">0</div>
                    <h3>Subscribers</h3>
                  </div>
                </div>
                <div id="emails_opened_div" class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-user-times text-primary"></i>
                    </div>
                    <div class="count" id="mf_num_unsubs">0</div>

                    <h3>Unsubscribers</h3>
                  </div>
                </div>
                <div id="emails_clicked_div" class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-tags text-primary"></i>
                    </div>
                    <div class="count" id="mf_num_captured_hooks">0</div>

                    <h3>Hook Captures</h3>
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-filter text-primary"></i>
                    </div>
                    <div class="count" id="mf_num_funnels">0</div>

                    <h3>Funnels</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">

                <div class="title_left">
                  <h3><small class="mf_head_title">Emails</small></h3>
                </div>

                <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-paper-plane text-primary"></i>
                    </div>
                    <div class="count" id="mf_num_email_sent">0</div>
                    <h3>Emails Sent</h3>
                  </div>
                </div>
                <div id="emails_opened_div" class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-envelope-open-o text-primary"></i>
                    </div>
                    <div class="count" id="mf_num_email_opened">0</div>

                    <h3>Emails Opened</h3>
                  </div>
                </div>
                <div id="emails_clicked_div" class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-mouse-pointer text-primary"></i>
                    </div>
                    <div class="count" id="mf_num_email_clicked">0</div>

                    <h3>Emails Clicked</h3>
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-6 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-dollar text-primary"></i>
                    </div>
                    <div class="count">$<span id="mf_num_revenue">0</span></div>

                    <h3>Total Revenue</h3>
                  </div>
                </div>
              </div>

              </div>

            <br>
          </div>
        </div>
      </div>
    </div>


<% end %>
