<% content_for :admin do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>



    <%= javascript_include_tag 'triggers_manifest.js' %>
    <%= javascript_include_tag 'pages/admin_panel/admin_user_profile.js' %>
    <%= stylesheet_link_tag 'dashboard.css' %>

    <div class="hidden">
      <input id="current_user_id" type="number" value="<%= @user.id %>"/>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <img class="mf_head_logo" src="/mf_logos/mf_logo_text.png"/>
            <h3><small class="mf_head_title">Admin Panel: User Profile (<%= @user.first_name %> <%= @user.last_name %>)</small></h3>
          </div>


          <div class="title_right">
            <a href="<%= root_url %>admin_all_users" class="btn btn-primary btn-sm btn-border pull-right">
              <i class="fa fa-chevron-left"></i> Back
            </a>
          </div>

          <hr/>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <hr class="fade-2"/>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

              <ul class="list-unstyled user_data">

                <h4>User Info</h4>
                <hr class="mf_divider">
                <li><strong><%= @user.first_name %> <%= @user.last_name %></strong></li>
                <li><strong>Infusionsoft ID: </strong><%= @user.clientid %></li>
                <li><%= @user.email %></li>
                <li><%= @user.street_address %></li>
                <li><%= @user.city %>, <%= @user.state %></li>

                <br/>

                <li><strong>Subscribers Remaining: </strong><%= @subs_left %></li>

                <br/>
                <li><strong>User Since: </strong><%= @user.created_at.to_time.strftime('%B %e at %l:%M %p') %></li>
                <li><strong>Last Updated: </strong><%= @user.updated_at.to_time.strftime('%B %e at %l:%M %p') %></li>

              </ul>


            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">


              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">User Information</a>
                  </li>
                  <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Apps</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="col-xs-10">
                      <form class="form-horizontal form-label-left">
                        <fieldset>
                          <h4 class="mf_section_header">User Information</h4>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="first_name_input" type="text" value="<%= @user.first_name %>" class="form-control" placeholder="First Name" required="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="last_name_input" type="text" value="<%= @user.last_name %>" class="form-control" placeholder="Last Name" required="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="email_input" type="text" value="<%= @user.email %>" class="form-control" placeholder="Email" required="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="confirm_email_input" type="text" value="<%= @user.password %>" class="form-control" placeholder="Password" required="">
                            </div>
                          </div>

                        </fieldset>


                        <br>

                        <div class="row">
                          <button id="save_account_info_button" type="button" class="btn btn-success btn-border pull-right">Save</button>
                        </div>

                      </form>
                    </div>

                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="col-xs-10">

                      <fieldset>
                        <h4 class="mf_section_header">Installed Apps</h4>
                        <% if @user_apps.any? %>
                            <% @user_apps.each do |user_app| %>
                                <div class="well" style="padding-top: 0px;">
                                  <div class="title_left" style="margin-top: 0px;">
                                    <% if user_app.is_disabled === 1 %>
                                        <h3><small class="mf_head_title"><%= user_app.name %> <span class="label label-danger">Disabled</span></small></h3>
                                    <% else %>
                                        <h3><small class="mf_head_title"><%= user_app.name %> <span class="label label-success">Active</span></small></h3>
                                    <% end %>
                                    <p><strong>Date Created: </strong><%= user_app.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>
                                    <p><strong>Subscribers: </strong><%= Subscriber.where(app_id: user_app.id).size %></p>
                                    <p><strong>Emails Sent: </strong><%= EmailJob.where(app_id: user_app.id, sent: 1).size %></p>
                                  </div>

                                  <div class="title_right">
                                    <button data-id="<%= user_app.id %>" class="btn btn-sm btn-danger mf_delete_app_btn pull-right">Delete App</button>
                                    <% if user_app.is_disabled === 1 %>
                                        <button data-id="<%= user_app.id %>" class="btn btn-sm btn-success mf_enable_app_btn pull-right">Enable App</button>
                                    <% else %>
                                        <button data-id="<%= user_app.id %>" class="btn btn-sm btn-default mf_disable_app_btn pull-right">Disable App</button>
                                    <% end %>
                                  </div>

                                  <div class="clearfix"></div>
                                </div>
                            <% end %>
                        <% end %>

                      </fieldset>
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



    <div id="mf_confirm_delete_app" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-md">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Delete App?</h4>
          </div>

            <div class="modal-body">

              <h4>Are you sure you want to delete this app?</h4>

            </div>

            <div class="modal-footer">
              <button data-dismiss="modal" type="button" class="btn btn-default">No</button>
              <button id="mf_delete_app_submit" data-id="-1" type="button" class="btn btn-danger">Yes</button>
            </div>


        </div>
      </div>
    </div>



<% end %>



