<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>



    <%= javascript_include_tag 'pages/account.js' %>
    <%= stylesheet_link_tag 'dashboard.css' %>

    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
    </div>



    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <img class="mf_head_logo" src="/mf_logos/mf_logo_text.png"/>
            <h3><small class="mf_head_title">My Account</small></h3>
          </div>

          <% if @app.is_admin and @app.is_admin === 1 %>
              <div class="title_right">
                <a href="<%= root_url %>admin_panel" class="btn btn-primary btn-sm btn-border pull-right">
                  <i class="fa fa-wrench"></i> Admin Panel
                </a>
              </div>
          <% end %>

          <hr/>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <hr class="fade-2"/>



    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

              <ul class="list-unstyled user_data">

                <h4>User Info</h4>
                <hr class="mf_divider">
                <li><strong><%= @user.first_name %> <%= @user.last_name %></strong></li>
                <li><%= @user.email %></li>
                <li><%= @user.street_address %></li>
                <li><%= @user.city %>, <%= @user.state %></li>


                <br/>
                <h4>Email Info</h4>
                <hr class="mf_divider">


                <li>
                  <% if @app.from_email %>
                      <i class="fa fa-envelope user-profile-icon"></i> <%= @app.from_email %>
                  <% else %>
                      <i class="fa fa-envelope user-profile-icon"></i> From Email Not Set
                  <% end %>

                </li>

                <li>
                  <% if @app.from_name %>
                      <i class="fa fa-id-card user-profile-icon"></i> <%= @app.from_name %>
                  <% else %>
                      <i class="fa fa-id-card user-profile-icon"></i> From Name Not Set
                  <% end %>

                </li>
              </ul>


            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">


              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Account
                      Information</a>
                  </li>
                  <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Email
                      Settings</a>
                  </li>
                  <li role="presentation" class="">
                    <a href="#tab_pricing" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Plans</a>
                  </li>
                  <li role="presentation" class="">
                    <a href="#tab_password" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Change Password</a>
                  </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="col-xs-10">
                      <form class="form-horizontal form-label-left">
                        <fieldset>
                          <h4 class="mf_section_header">Account Information</h4>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="first_name_input" type="text" value="<%= @user.first_name %>" class="form-control" placeholder="First Name" required="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="last_name_input" type="text" value="<%= @user.last_name %>" class="form-control" placeholder="Last Name" required="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="email_input" type="text" value="<%= @user.email %>" class="form-control" placeholder="Email" required="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Confirm Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="confirm_email_input" type="text" value="<%= @user.email %>" class="form-control" placeholder="Confirm Email" required="">
                            </div>
                          </div>

                        </fieldset>


                        <br>

                        <div class="row">
                          <button id="save_account_info_button" type="button" class="btn btn-success btn-border pull-right">Save</button>
                        </div>

                      </form>
                    </div>

                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="col-xs-10">
                      <form class="form-horizontal form-label-left">
                        <fieldset>
                          <h4 class="mf_section_header">Email Information</h4>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">From Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="from_name_input" type="text" value="<%= @app.from_name %>" class="form-control" placeholder="Name to sign sent emails">
                            </div>
                          </div>

                          <h4 class="mf_section_header">Style Options</h4>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Default Color</label>
                            <div class="col-xs-12 col-sm-9">
                              <div id="mf_email_def_color" class="input-group">
                                <input id="mf_theme_color" type="text" value="<%= @app.email_def_color %>" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                              </div>
                            </div>
                          </div>

                          <h4 class="mf_section_header" style="margin-bottom: 10px;">Footer Options</h4>
                          <div class="form-group">
                            <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                              <label for="mf_show_power_by"><input type="checkbox" value="<%= @app.show_mf_powered %>" id="mf_show_power_by"><span></span> Show Powered By MailFunnels</label>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                              <label for="mf_foot_use_bill"><input type="checkbox" value="<%= @app.foot_use_bill_add %>" id="mf_foot_use_bill"><span></span> Use Billing Address</label>
                            </div>
                          </div>

                          <div id="mf_foot_addr_div" class="hidden">
                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Street Address</label>
                              <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="mf_foot_street" type="text" value="<%= @app.foot_street %>" class="form-control" placeholder="Street Address (Ex. 123 Elm St)">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                              <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="mf_foot_city" type="text" value="<%= @app.foot_city %>" class="form-control" placeholder="City">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
                              <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="mf_foot_state" type="text" value="<%= @app.foot_state %>" class="form-control" placeholder="State">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12">Zip Code</label>
                              <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="mf_foot_zip" type="text" value="<%= @app.foot_zip %>" class="form-control" placeholder="Zip Code">
                              </div>
                            </div>


                          </div>



                        </fieldset>
                        <br>

                        <div class="row">
                          <button id="save_email_info_button" type="button" class="btn btn-success btn-border pull-right">Save</button>
                        </div>

                      </form>
                    </div>
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab_pricing" aria-labelledby="pricing-tab">
                    <div class="col-xs-12">

                      <fieldset>
                        <h4 class="mf_section_header">Plans</h4>


                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th>Plan</th>
                            <th>Pricing</th>
                            <th>Duration</th>
                            <th class="text-center" style="width: 80px;">Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% if @plan != 106 %>
                              <tr>
                                <td>Up to 1,000 Subscribers</td>
                                <td>$9.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm upgrade_plan_button" data-id="2">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 1,000 Subscribers</td>
                                <td>$9.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Current</a></td>
                              </tr>
                          <% end %>


                          <% if @plan != 108 %>
                              <tr>
                                <td>Up to 2,000 Subscribers</td>
                                <td>$29.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm upgrade_plan_button" data-id="4">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 2,000 Subscribers</td>
                                <td>$29.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Current</a></td>
                              </tr>
                          <% end %>

                          <% if @plan != 110 %>
                              <tr>
                                <td>Up to 4,000 Subscribers</td>
                                <td>$49.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm upgrade_plan_button" data-id="6">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 4,000 Subscribers</td>
                                <td>$49.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Current</a></td>
                              </tr>
                          <% end %>

                          <% if @plan != 112 %>
                              <tr>
                                <td>Up to 8,000 Subscribers</td>
                                <td>$89.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm upgrade_plan_button" data-id="8">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 8,000 Subscribers</td>
                                <td>$89.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Current</a></td>
                              </tr>
                          <% end %>

                          <% if @plan != 114 %>
                              <tr>
                                <td>Up to 12,000 Subscribers</td>
                                <td>$139.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm upgrade_plan_button" data-id="10">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 12,000 Subscribers</td>
                                <td>$139.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Current</a></td>
                              </tr>
                          <% end %>

                          <% if @plan != 116 %>
                              <tr>
                                <td>Up to 20,000 Subscribers</td>
                                <td>$219.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm upgrade_plan_button" data-id="12">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 20,000 Subscribers</td>
                                <td>$219.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Current</a></td>
                              </tr>
                          <% end %>

                          <% if @plan != 118 %>
                              <tr>
                                <td>Up to 35,000 Subscribers</td>
                                <td>$289.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm upgrade_plan_button" data-id="14">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 35,000 Subscribers</td>
                                <td>$289.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Current</a></td>
                              </tr>
                          <% end %>


                          </tbody>
                        </table>
                      </fieldset>
                      <br>

                      <h4 class="mf_section_header">Account Cancellation</h4>

                      <div class="row">
                        <div class="col-xs-12">

                          <div class="well">

                            <h4 class="pull-left">Don't need MailFunnels anymore?</h4>

                            <button type="button" class="btn btn-sm btn-danger pull-right" data-toggle="modal" data-target="#mf_confirm_cancel_modal">Cancel Account</button>

                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- START CHANGE PASSWORD TAB -->
                  <div role="tabpanel" class="tab-pane fade" id="tab_password" aria-labelledby="password-tab">
                    <div class="col-xs-10">
                      <form class="form-horizontal form-label-left">
                        <fieldset>
                          <h4 class="mf_section_header">Change Password</h4>

                          <div class="item form-group">
                            <label for="password" class="control-label col-md-3">Password</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="mf_change_password_input" type="password" class="form-control col-md-7 col-xs-12" placeholder="Password" required="required">
                            </div>
                          </div>

                          <div class="item form-group">
                            <label for="password" class="control-label col-md-3">Confirm Password</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="mf_confirm_password_input"  type="password"  class="form-control col-md-7 col-xs-12" placeholder="Confirm Password" required="required">
                            </div>
                          </div>

                        </fieldset>
                        <br>

                        <div class="row">
                          <div class="col-xs-12">
                            <button id="mf_change_password_submit" type="button" class="btn btn-success btn-border pull-right">Change Password</button>

                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                  <!-- END CHANGE PASSWORD TAB -->

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div id="mf_confirm_cancel_modal" aria-labelledby="#modal_node_create" class="modal fade bs-example-modal-sm">
        <div class="modal-dialog modal-md">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Cancel MailFunnels Account</h4>
            </div>


            <div class="modal-body">
              <h5>Are you sure you want to cancel your MailFunnels Account?</h5>

            </div>

            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-sm btn-default">No</button>
              <button id="mf_cancel_account_confirmed" class="btn btn-sm btn-danger">Yes</button>
            </div>

          </div>
        </div>
      </div>




      <div id="mf_process_cancel_modal" aria-labelledby="#modal_node_create" class="modal fade bs-example-modal-sm">
        <div class="modal-dialog modal-md">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Cancel MailFunnels Account</h4>
            </div>


            <div class="modal-body">
              <div class="col-xs-12">
                <h5>Before you go, leave us some feedback on how we can improve.</h5>



                <div class="form-group m-t-5">
                  <div class="col-xs-12">
                    <textarea class="form-control mf_textarea" rows="5" placeholder="MailFunnels Cancellation Feedback..."></textarea>
                  </div>
                </div>


                <div id="mf_cancel_spinner" class="hidden">
                  <h2 class="text-center"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h2>
                </div>

              </div>

              <div class="clearfix"></div>

            </div>

            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-sm btn-primary">Keep Using Mailfunnels</button>
              <button id="mf_cancel_account_submit" class="btn btn-sm btn-danger">Cancel Account</button>
            </div>

          </div>
        </div>
      </div>




    </div>



    <div id="upgrade_plan_modal" aria-labelledby="#modal_node_create" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-md">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Upgrade Subscription</h4>
          </div>

          <form class="form-horizontal form-label-left">

            <div class="modal-body">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Four of Credit Card</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input id="upgrade_plan_last_four_input" type="text" class="form-control" placeholder="Last Four">
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <button id="upgrade_plan_submit_button" type="button" class="btn btn-success">Submit</button>
            </div>

          </form>

        </div>
      </div>
    </div>




<% end %>


