<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>

    <%= javascript_include_tag 'dashboard_manifest.js' %>
    <%= stylesheet_link_tag 'dashboard.css' %>
    <%= javascript_include_tag 'components/jquery.tabletoCSV.js' %>
    <%= javascript_include_tag 'components/papaparse.min.js' %>
    <%= javascript_include_tag 'pages/list_subscribers.js' %>


    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
      <input id="current_email_list_id" type="number" value="<%= @list.id %>"/>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <img class="mf_head_logo" src="/mf_logos/mf_logo_text.png"/>
            <h3><small class="mf_head_title">List Subscribers</small></h3>
          </div>
          
          <hr/>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <hr class="fade-2"/>


    <div class="row">
      <div class="col-xs-12">

       <div class="row">

      <div class="col-xs-12 col-sm-9">
        <div class="x_panel">
          <div class="x_title">
            <h2>Subscribers List</h2>
            <br/>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <!-- Triggers Table -->
            <table id="subscribers_table" class="table table-striped table-bordered text-center">

              <!-- Triggers Table Header -->
              <thead>
              <tr>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Revenue</th>
                <th class="no-sort text-center"><i class="fa fa-wrench"></i></th>
              </tr>
              </thead>
              <!-- END Hooks Table Header -->

              <!-- Hooks Table BODY -->
              <tbody>

              <% if @subscribers.any? %>
                  <% @subscribers.each do |elsubscriber| %>
                      <tr>
                        <td><h5><%= elsubscriber.subscriber.first_name %></h5></td>
                        <td><h5><%= elsubscriber.subscriber.last_name %></h5></td>
                        <td><h5><%= elsubscriber.subscriber.email %></h5></td>
                        <td><h5><%= number_to_currency(elsubscriber.subscriber.revenue) %></h5></td>
                        <td style="width: 50px;">
                          <button onclick="viewSubscriberInfo(<%= elsubscriber.subscriber.id %>)" type="button" data-toggle="modal" data-target="#subscriber_info_modal" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></button>
                        </td>

                      </tr>
                  <% end %>
              <% end %>
              </tbody>
              <!-- END Hooks Table BODY -->

            </table>
            <!-- END Hooks Table -->

          </div>
        </div>
      </div>


        <div class="col-xs-12 col-sm-3 pull-right">

          <div class="x_panel tile">
            <div class="x_title">
              <h2 style="font-size: 20px;">List Actions</h2>
              <div class="clearfix"></div>
            </div>
            <hr class="fade-2"/>
            <div class="x_content">
              <button id="edit_list_button" class="btn btn-primary btn-border btn-block" type="button" data-toggle="modal" data-target="#edit_list_modal"><i class="fa fa-wrench"></i> Edit</button>
              <% if @user_plan === -2 or @user_plan === -99 %>
                  <button data-toggle="modal" data-target="#trial_denied_modal" class="btn btn-primary btn-border btn-block" type="button"><i class="fa fa-download"></i> Export CSV </button>
              <% else %>
                  <button id="subscribers_export_button" class="btn btn-primary btn-border btn-block" type="button"><i class="fa fa-download"></i> Export CSV </button>

            <% end %>
              <button id="import_csv_button" class="btn btn-primary btn-border btn-block" style="margin-right: 5px;" type="button">
                <i class="fa fa-upload"></i> Import CSV
              </button>
              <button id="list_delete_button" class="btn btn-danger btn-border btn-block" type="button" data-toggle="modal" data-target="#delete_list_modal"><i class="fa fa-trash"></i> Delete </button>

            </div>

          </div>

        </div>

       </div>

      </div>

    </div>

    <!--- Start Import Csv Modal --->
    <div id="import_csv_modal" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-md">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Import CSV</h4>
          </div>

          <div class="modal-body">

            <div class="row">
              <div class="col-xs-12">

                <div id="file-area" class="file-area">
                  <input type="file" name="import_csv_file" id="import_csv_file" required="required"/>
                  <div class="file-dummy">
                    <div class="success">Great, we found <strong id="csv_num_subs">12</strong> subscribers in this file, check the box below and click the "import" button to continue.</div>
                    <div class="default-file">Please select a CSV file to upload</div>
                  </div>
                </div>

                <br/>

              </div>
            </div>

            <div id="mf_load_spinner" class="hidden">
              <h2 class="text-center"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h2>
            </div>

            <div class="clearfix"></div>

          </div>

          <div class="modal-footer">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group pull-left">
                  <div class="col-xs-12">
                    <label for="import_csv_confirm_checkbox"><input id="import_csv_confirm_checkbox" type="checkbox" value=""/><span></span>Subscribers gave me permission to be added to my list.</label>
                  </div>
                </div>
                <button type="button" id="import_csv_submit_button" class="btn btn-success btn-sm pull-right">Import</button>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

        </div>
      </div>
    </div>


    <!--- End Import Csv Modal --->



    <!-- START View Subscriber Info Modal -->
    <div id="subscriber_info_modal" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Subscriber Info</h4>
          </div>

          <div class="modal-body">
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="hidden">
                <input id="current_subscriber_id" type="number" value="0" />
              </div>

              <div class="panel">
                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4 class="panel-title">Subscriber Info</h4>
                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                  <div class="panel-body">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <th scope="row">Subscriber ID:</th>
                        <td id="view_subscriber_id">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">First Name:</th>
                        <td id="view_subscriber_first_name">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Last Name:</th>
                        <td id="view_subscriber_last_name">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Email:</th>
                        <td id="view_subscriber_email">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Revenue:</th>
                        <td id="view_subscriber_revenue">Loading...</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!--START EMAILS SENT TO SUBSCRIBER-->
              <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4 class="panel-title">Emails</h4>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <table class="table table-striped table-bordered text-center">
                      <thead>
                      <tr>
                        <th class="text-center" id="templateName">Name</th>
                        <th class="text-center" id="emailsClicked">Clicked</th>
                        <th class="text-center" id="emailsOpened">Opened</th>
                      </tr>
                      </thead>
                      <tbody id="sub_table_body">

                      </tbody>






                    </table>
                  </div>
                </div>
              </div>
              <!--END EMAILS SENT TO SUBSCRIBER-->


            </div>
          </div>

          <div class="modal-footer">
            <button id="delete_subscriber_button" type="button" class="btn btn-danger btn-border">Delete</button>
          </div>


        </div>
      </div>
    </div>
    <!-- END View Subscriber Info Modal -->

    <!-- Start Edit Email List Modal-->
    <div id="edit_list_modal" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-md">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Edit List</h4>
          </div>

          <form class="form-horizontal form-label-left">

            <div class="modal-body">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">List Name</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input id="edit_list_name_input" type="text" class="form-control" value="<%= @list.name %>" placeholder="Name">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">List Description
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea id="edit_list_description_input" class="form-control" rows="3" placeholder="Description for funnel"><%= @list.description %></textarea>
                </div>
              </div>


            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button id="edit_list_submit_button" type="button" class="btn btn-success">Save</button>
            </div>

          </form>

        </div>
      </div>
    </div>
    <!-- End Edit Email List Modal-->

    <!--Start Delete Email List Confirm Modal-->
    <div id="delete_list_modal" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirm Email List Delete</h4>
          </div>

          <div class="modal-body">
            <h4>Are you sure you want to delete this email list? All subscribers in this list will be permanently deleted.</h4>
            <h4>Funnels currently using this email list:
            <% @funnels.each do |funnel| %>

              <h4><%= funnel.name %></h4>

              <% end %>
            </h4>

            <% if @user_plan != -2 %>
            <h4>Number of Broadcast Lists currently using this email list: <%= @num_broadcasts %></h4>

            <% end %>

          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button id="confirm_delete_list_button" type="button" class="btn btn-success">Confirm</button>
          </div>

        </div>
      </div>
    </div>
    <!--End Delete Email List Confirm Modal-->


    <!-- Trial User Modal -->
    <div id="trial_denied_modal" class="modal fade bs-example-modal-sm">
      <div class="modal-dialog modal-md">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Upgrade Plan</h4>
          </div>


          <div class="modal-body">

            <p>Trial Users do not have access to this feature. Upgrade your plan to access these features and more.</p>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a href="<%= root_url %>account" class="btn btn-primary">Upgrade Plan</a>
          </div>


        </div>
      </div>
    </div>

    <!-- END Trial User Modal -->





<% end %>



